/* THIS FILE STYLES EVERYTHING */

* {
  margin: 0;
  padding: 0;
}

main {
  width: 200px;
}
#title {
  font-size: 20px;
  color: dimgray;
  text-align: center;
  margin: 10px;
}

button {
  display: block;
  height: 30px;
  width: 80px;
  border: none;
  margin: 10px auto;
  padding: 5px;
  border-radius: 2px;
  background-color: lightgray;
  color: white;
}
#GET {
  background-color: orange;
  width: 100px;
}

.styles {
  display: flex;
  flex-direction: row;
  border-top: 1px dashed lightgray;
}

#one, #two, #three {
  background-color: white;
  color: lightgray;
  margin: 0;
}